@model LoginModel
@{
    Layout = ""; 
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" />
<form asp-action="Index" class="lightBlueColor">
    <div class="w-25 m-3 mx-auto">
        <label  asp-for="Admin.username"></label>
        <input asp-for="Admin.username" class="form-control" />
    </div>

    <div class="w-25 m-3 mx-auto">
        <label asp-for="Admin.password"></label>
        <input type="password" asp-for="Admin.password" class="form-control" />
    </div>

    <div class="w-25 m-3 mx-auto">
        <input type="hidden" asp-for="Next" />
        <button type="submit" class="btn btn-primary">Přihlásit</button>
        <div class="alert-danger">@TempData["passwordfailed"]</div>
    </div>
</form>