<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/styles/Header.css">
    <link rel="stylesheet" href="~/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="upHead">
        <div >
            <div class="me-4">
                <a class="btn btn-light" asp-controller="Category" asp-action="Index">Categories</a>
            </div>
            <div class="me-4">
                <a class="btn btn-light" asp-controller="Product" asp-action="Index">Products</a>
           </div>
            <div class="me-4">
                <a class="btn btn-light" asp-controller="Color" asp-action="Index">Colors</a>
            </div>
            <div class="me-4">
                <a class="btn btn-light" asp-controller="Size" asp-action="Index">Sizes</a>
            </div>
            <div class="me-4">
                <a class="btn btn-light" asp-controller="Admin" asp-action="Index">Orders</a>
            </div>
            
        </div>
        @*<div class="flex-grow-1">
            
                    <form>
                <button class="btn btn-light" asp-controller="Home" asp-action="Index">
                    Back to site
                </button>
                    </form>
                    


        </div>*@
        
    </div>

            @RenderBody()

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
